 <!-- /*********************************************************************************
* WEB422 – Assignment 04
* I declare that this assignment is my own work in accordance with Seneca Academic Policy. No part of this
* assignment has been copied manually or electronically from any other source (including web sites) or
* distributed to other students.
*
* Name: ___ Jie Yang _______ Student ID: __ 162925184 ____ Date: ___ July 12. 2020 ______
*
********************************************************************************/ -->
 <app-header></app-header>
     <router-outlet></router-outlet> 
<app-footer></app-footer>
 